@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>Shopomo OTP</h1>
    <p class="lead">Welcome to Shopomo OTP.</p>
    <br />
    <p>Go to <strong>USERS</strong> to generate passwords than go to <strong>LOGIN</strong> to test the access</p>
</div>
