@{
    ViewBag.Title = "Users";
}

@section scripts
{
    <script src="~/Scripts/Pages/Controllers/userController.js"></script>
}

<h2>Users</h2>

<div ng-controller="userController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.UserId }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.Name}}</td>
                <td>
                    <button ng-click="generatePassword(user.UserId)" class="btn btn-primary btn-sm">Generate Password</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
