@{
    ViewBag.Title = "Users";
}

@section scripts
{
    <script src="~/Scripts/Pages/Controllers/userController.js"></script>
}

<h2>Users</h2>

<div ng-controller="userController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
                <th>Last Password</th>
                <th>Generated Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.UserId }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.Name}}</td>
                <td>
                    <button ng-click="generateOTP(user.UserId, $index)" class="btn btn-primary btn-sm">Generate Password</button>
                    <a href="/Login/#?email={{user.Email}}" class="btn btn-success btn-sm">Login</a>
                </td>
                <td>{{user.lastPassword}}</td>
                <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>
